{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-header">Book Ticket</div>
            <div class="card-body">
                <div class="alert alert-light">
                    <h5>Flight Details</h5>
                    <p><strong>From:</strong> {{ flight.departure }} <strong>To:</strong> {{ flight.destination }}</p>
                    <p><strong>Date:</strong> {{ flight.date }} <strong>Time:</strong> {{ flight.time }}</p>
                    <p><strong>Cost:</strong> €{{ flight.cost }}</p>
                </div>

                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.full_name.label(class="form-label") }}
                        {{ form.full_name(class="form-control") }}
                        {% if form.full_name.errors %}
                            <div class="text-danger">{{ form.full_name.errors[0] }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.passport_num.label(class="form-label") }}
                        {{ form.passport_num(class="form-control") }}
                         {% if form.passport_num.errors %}
                            <div class="text-danger">{{ form.passport_num.errors[0] }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.credit_card.label(class="form-label") }}
                        {{ form.credit_card(class="form-control") }}
                         {% if form.credit_card.errors %}
                            <div class="text-danger">{{ form.credit_card.errors[0] }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.submit(class="btn btn-success") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
